body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
}

/* サイドメニュー */
.menu {
    background-color: #4d4d4d;
    width: 260px;
    height: 100vh;
    flex-shrink: 0;
}

li {
    list-style: none;
    padding: 10px;
}

/* jjkバナー */
.jjk {
    margin: 10px 10px;
    display: block;
    margin-bottom: -20px;
}

/* バナー */
.banner {
    margin: 0px 10px;
    display: block;
    width: 220px;
    height: 80px;
}


.banners {
    margin: 10px 18px;
}

/* 右側全体 */
.main {
    position: relative;
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* うねうねデザイン */
.frame {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.border img,
.border2 img {
    display: block;
}

/* TOPページ */
.top-content {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(20px);
    margin-top: 40px;
}

/* 文字 */
.top-text1 {
    color: #cccccc;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.top-text2 {
    color: #cccccc;
    font-size: 18px;
        text-align: left;
}

.top-text3 {
    color: #808080;
    font-size: 16px;
    margin-top: 80px;
}

* {
    box-sizing: border-box;
}